
* {
  box-sizing: border-box;

}

/* .top { display: block;
       width: 100%;
       height: 100%;
       padding: 5px;
       z-index: -1;
       grid-template-columns: auto;
} */


body {font-family:  Helvetica, sans-serif;
      font-weight: lighter;
      background: black;
      color: white;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: fixed;
      margin:0px;
      /* padding: 5px; */
}

.site-title {   display: block;
                height: auto;
                width: 100vw;
                position:fixed;
                top:5px;
                left:5px;
                /* z-index: 999; */

}



/* Type stuff*/
h1 {font-size: 72pt;
    font-weight: lighter;
    letter-spacing: -3.5pt;
    line-height: 55pt;
    margin:0px;
    color:#FF7600;
    z-index: -1;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2 { font-size: 21pt;
     font-weight: lighter;
     margin:0px;
     letter-spacing: -0.5pt;
     line-height: 24pt;
}

p {  font-size: 12pt;
     font-weight: lighter;
     line-height: 16pt;
}

/* //Sidebar */

.sidenav {
    display: grid;
    width: auto;
    height: auto;
    text-decoration: none;
    grid-template-columns: repeat(10, auto);
    color: grey;
    background: none;
    position: absolute;
    bottom: 5px;
    visibility: visible;
}

.sidenav li { display: grid;
     grid-template-columns: auto auto;
}

.sidenav li a {  font-size: 72pt;
        font-weight: lighter;
        letter-spacing: -3.5pt;
        line-height: 55pt;
}

.sidenav li a:hover + span {
    display: block;
}

.sidenav li span  { display: none;
           font-size: 14pt;
           letter-spacing: normal;
           line-height: 16pt;
           font-weight: lighter;
           padding-left: 8px;
           max-width: 30vw;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.item_title {
    font-size: 14pt;
    letter-spacing: normal;
    line-height: 16pt;
    font-weight: lighter;
}



.page-name:after {
    content: attr(data-curr);
    /* color: #816BC9; */
}

.page-name:hover:after {
    content: "Jeepers Peepers!";
    color: #FF7600;

}

#link_10 a { line-height:30pt;
}

#page-name-2 {color: #816BC9;}
#page-name-3 {color: #0063C6;}
#page-name-4 {color: #FABF02;}
#page-name-5 {color: #02876A;}
#page-name-6 {color: #E51A28;}
#page-name-7 {color: #FF7600;}
#page-name-8 {color: #816BC9;}
#page-name-9 {color: #0063C6;}
#page-name-10 {color: white;}


/* Change color on hover */
#link_1:hover {color: #FF7600;}
#link_2:hover {color: #816BC9;}
#link_3:hover {color: #0063C6;}
#link_4:hover {color: #FABF02;}
#link_5:hover {color: #02876A;}
#link_6:hover {color: #E51A28;}
#link_7:hover {color: #FF7600;}
#link_8:hover {color: #816BC9;}
#link_9:hover {color: #0063C6;}
#link_10:hover {color: white;}

/* Active Pages */
#page1 .sidenav #link_1 {color: #FF7600;}
#page2 .sidenav #link_2 {color: #816BC9;}
#page3 .sidenav #link_3 {color: #0063C6;}
#page4 .sidenav #link_4 {color: #FABF02;}
#page5 .sidenav #link_5 {color: #02876A;}
#page6 .sidenav #link_6 {color: #E51A28;}
#page7 .sidenav #link_7 {color: #FF7600;}
#page8 .sidenav #link_8 {color: #816BC9;}
#page9 .sidenav #link_9 {color: #0063C6;}


/* Style the content */
.content {
  display: block;
  top:0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.interview {
    display: block;
    position: fixed;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: black;
}

.handle {
    background:black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    height:30px;
    width: 100%;
    color: white;
    font-size:20pt;
    padding-left: 5pt;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    cursor: grab;
}

.drawing {
  display: block;
  position: absolute;
  -webkit-transition: -webkit-transform 60s linear;
  -ms-transition: -ms-transform 60s linear;
  transition: transform 60s linear;
}

.drawing img {
    width:300px;
    height:auto;
}

.drawing:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    filter:grayscale(100%) brightness(100);
}

.textbox {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 2;
    overflow: scroll;
    padding: 20px;
    background-color: black;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

iframe {width: 450px;
        height: 250px;
}


/* ———————————————————— */
@media only screen and (max-width: 768px) {

    h1 { font-size: 19vw;
        font-weight: lighter;
        letter-spacing: -3.5pt;
        line-height: 16vw;
        margin:0px;
        color:#FF7600;
        z-index: -1;
        text-align: left;
        margin-block-start: 0em;
        margin-block-end: 0em;

    }
    .sidenav {
        display: grid;
        width: 100%;
        height: auto;
        text-decoration: none;
        grid-template-columns: repeat(10, auto);
        color: grey;
        background: none;
        position: absolute;
        bottom: 0px;
        visibility: visible;
        z-index: 999;
        /* padding: 5px; */
    }

    .sidenav li { display: grid;
         grid-template-columns: auto auto;
    }

    .sidenav li a {  font-size: 19vw;
            font-weight: lighter;
            letter-spacing: -3.5pt;
            line-height: 55pt;
    }

    .sidenav li a:hover + span {
        display: none;
    }

    .sidenav li span  { display: none;

    }


    .content {
      display: block;
      top:0px;
      left:0px;
      width: 100vw;
      height: 100vh;
      overflow: scroll;
      padding-top:30vh;
      padding-bottom:50vh;

    }


    .drawing {
      display: flex;
      position: inherit;
      -webkit-transition: none;
      -ms-transition: none;
      transition: none;
      justify-content: center;
      align-self: center;
      width: 100%;
    }

    .drawing img {
        width:90vw;
        height:auto;
    }

    .textbox {
        width: auto;
        height: 50vh;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        z-index: 0;
        overflow:scroll;
        padding: 20px;
        background-color: black;
        position:  inherit;
        bottom: 0px;
        right: 0px;
        margin: 10px;
    }

    .interview {
        display: block;
        position: inherit;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        background-color: black;
        /* margin-bottom: 30px; */
/*
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px; */

        width: auto;
        margin: 10px;



    }

    iframe {width: 94vw;
            height: 54vw;
    }

    .handle {
        height:auto;

    }





}
