
* {
  box-sizing: border-box;

}

body {font-family:  Helvetica, sans-serif;
      font-weight: lighter;
      background: black;
      color: #C0C0C0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: fixed;
      margin:0px;

      /* padding: 5px; */
}
body div::-webkit-scrollbar {
     display: none;
}

body div{
-ms-overflow-style: none;

}


/* Typography*/
h1 { font-size: 50pt;
    font-weight: lighter;
    letter-spacing: -3.5pt;
    line-height: 50pt;
    margin: 0px;
    color: inherit;
    z-index: -1;
    text-align: center;
    width: 100%;

}

h2 { font-size: 21pt;
     font-weight: lighter;
     margin:0px;
     letter-spacing: -0.8pt;
     text-align: left;
     line-height: 21pt;
     margin-bottom:10px;

}

p {  margin:0px;
    line-height: 15pt;
}


hr { margin-bottom: 60px;
    border-style: inset;
    border-width: 0px;

}
/* Wrapper */

.wrapper { display: grid;
           grid-template-columns:180px 1fr;

}

/* Page Colors */
#page-1 {color: #FF7600;}
#page-2 {color: #816BC9;}
#page-3 {color: #0063C6;}
#page-4 {color: #FABF02;}
#page-5 {color: #02876A;}
#page-6 {color: #0063C6;}
#page-7 {color: #FF7600;}
#page-8 {color: #816BC9;}
#page-9 {color: #0063C6;}
#page-10 {color: #816BC9;}


/* Header */
.site-title {
    height: fit-content;
    width: 100%;
    z-index: 999;
    color: inherit;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
    /* text-align: center; */

}

.page-name:after {
    content: attr(data-curr);
    color:inherit;

}

.site-title:hover .page-name:after {
    content:"Face Facts!";
    color:#c0c0c0;

}

.site-title a:-webkit-any-link {
    text-decoration: none;
    cursor: grab;
}

.site-title a:-webkit-any-link:hover {
    text-decoration: none;
    cursor: grab;
}



/* Navigation */

.nav-wrapper {
    width: auto;
    height: 100vh;
    display: grid;
    grid-column: 1/2;
    background: black;
    border-right: 2px solid;
    border-color: inherit;
}

.nav-wrapper-start {
    background-image: linear-gradient(to bottom, black 90%, currentColor 110%);
}

.nav-wrapper-end {
    background-image: linear-gradient(to top, black 90%, currentColor 110%);
}


.scroll-down { width:  100%;
               height: auto;
               padding: 10px;
               text-align: center;
               grid-column: 1/2;
               grid-row: 1/2;
               font-size: 10pt;
               display: flex;
               flex-direction: row;
               align-items: flex-start;
               justify-content: space-around;
}

.scroll-down div {
    width:  12px;
    height: 12px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.scroll-down svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
}

.nav {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    z-index: 999;
    -ms-overflow-style: none;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 35px;
    padding-bottom: 45px;

}



.nav a:-webkit-any-link {   color: inherit;
text-decoration: none;
width: 100%;
cursor: grab;


}

.nav a:-webkit-any-link:hover {   color: inherit;
cursor: pointer;
text-decoration:none;
width: 100%;

}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
}
a:-webkit-any-link:hover {
    color: #C0C0C0;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
}




@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes rotate-slow {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(10deg);
	}
}



.scroll-instruct {
display: flex;
align-self: flex-end;
justify-content:center;
z-index: 999;
grid-column: 2/3;
grid-row: 1/2;
color: inherit;
transform: translatey(0px);
animation: float 2s ease-in-out infinite;

}


.scroll-instruct svg {
    border: none;
    display: block;
    border-radius: 0;
    width: 100px;
    stroke-width: 0;
    fill: currentColor;
}

.scroll-instruct svg:hover {
    background-color:  transparent;
}

.page-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 14pt;
    letter-spacing: -0.3pt;
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.page-links:hover {
    color: #C0C0C0;

}

.current { color: #C0C0C0;
}

#end-credit {
    width: 60vw;
    height: auto;

}



/* Content block*/
.content {
    display: flex;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 20vh;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;

}

.whomadethis {
    align-items: flex-start;
}


#intro-content {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Image box */
.image-box {
    width: auto;
    margin: 50px;
}
.image-box img {
    max-width: 500px;
    max-height:500px;
}

.subtitle-box {
        font-size: 50pt;
        font-weight: lighter;
        letter-spacing: -3.5pt;
        line-height: 50pt;
        margin: 0px;
        color: #0063C6 ;
        text-align: center;
        width: 100%;
        padding: 80px;

}

/* Individual object boxes */
.box{
   width: 30vw;
   height: 40vh;
   display: grid;
   margin: 30px;

}

.box-overlay {
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  width:100%;
  height:100%;
  z-index: 0;
  cursor: grab;

}

.box-overlay span{
  text-align:center;
  visibility: hidden;
  font-size: 36px;
  letter-spacing: -1pt;
  grid-row: 1/2;
  grid-column: 1/2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: grab;

}


.box:hover .box-overlay span{
    visibility: visible;

}

.box-overlay img {
    max-height: 100%;
    max-width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;

}

.box-overlay:hover img{
    opacity: 0.1;

}


/* Styling text boxes */
.text-box{
  width: auto;
  height: auto;
  display: grid;
  margin: 50px;
  cursor: grab;

}

.text-box-content {
    grid-row-start: 1;
    grid-column-start: 1;
    display: block;
    width: 450px;
    height: 500px;
    z-index: 0;
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid;
    border-radius: 60px;
    overflow: scroll;
    padding: 40px;
    cursor: auto;

}

.text-box-content span {
    display: block;
    text-align: left;
    font-size: 30px;
    letter-spacing: -1pt;
}

.text-box-content-2 {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 500px;
    height: 500px;
    z-index: 0;
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid;
    border-radius:500px;
    overflow: scroll;
    padding: 30px;
    color: #0063C6;


}

.text-box-content-2 {
    display: flex;
    font-size: 30px;
    letter-spacing: -1pt;
    text-align: center;
    align-items: center;

}


/* Styling object pop-ups */
.pop-up {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    cursor: auto;
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;

}

.pop-up-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 60px;
    background: black;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow-y: scroll;
}

.pop-up-box {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 30px;
}

.pop-up-header {
    height: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-row: 1 / 2;
    grid-column: 1 /2;
    justify-items: end;
}

.pop-up-header span {
    width: 100%;
    font-size: 30pt;
    font-weight: lighter;
    letter-spacing: -1.5pt;
    align-self: flex-start;
    padding-right: 30px;
    line-height: 30pt;

}

.pop-up-header .close-button {
    padding-top: 5px;
    cursor: grab;
}

.pop-up-content {
    grid-row: 2/3;
    grid-column: 1/2;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    overflow: hidden;
}

.pop-up-box .pop-up-video {
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

.pop-up-audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

.pop-up-audio img {
    max-width: 100%;
    max-height: 30vh;
    margin-bottom: 10px;
}

.pop-up-audio audio {
    width: 100%;
    height: 30px;
}

.pop-up-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 30px;
    grid-column: 1 /2;
    grid-row: 2 / 3;
    height: inherit;
}

.interview-name {
    padding-right: 20px;
    margin-bottom: 20px;
}


.pop-up-info div:nth-child(3) {
    padding-right: 10px;
}


.transcript {
    height: auto;
    overflow-y: hidden;
    cursor: grab;
    padding-right: 30px;

}

.transcript div:nth-child(2) {
    height: 100%;
    overflow-y: scroll;
    display: none;
}

.transcript div:nth-child(2) span{
    color: #C0C0C0;
}

.transcript-click {
    margin: 0px;
}

.transcript-click p:hover {
    color: #C0C0C0;
}



/* Styling the close button */
.close-button svg {
  border: 2px solid;
  color: inherit;
  display: block;
  border-radius: 100pt;
  height: 35px;
  stroke-width: 3;
  stroke: currentColor;
}

.close-button svg:hover {
   background-color: rgba(255, 255, 255, 0.25);
}

.logo {
    height: 50px;
    padding-right: 30px;
}

.logo svg{
    height: 100%;
    fill: currentColor;
}

.logo-wrapper {
    width: 100%;
    display: flex;
}

/* Styling the video media */
iframe {
    width: 100%;
    height: 100%;
}



@media only screen and (max-width: 768px) {


    .wrapper {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    .nav-wrapper {
        display: none;
        width: auto;
        height: 100vh;
        grid-column: 1/3;
        grid-row: 1/2;
        z-index: 999;

        background: black;
        border-right: none;
        border-color: inherit;
    }


    .nav-wrapper.show {
        display: grid;
    }

    .site-title.hide {
        display: none;
    }


    .nav {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 20vh;

}
    .content {
        padding-top:0px;
        grid-row: 2/3;
        grid-column: 1/3;
        align-items: flex-start;
        overflow-y: scroll;
        height: 100vh;
        padding-bottom: 20vh;
    }

    .content .box:last-child {
        margin-bottom: 20vh;
    }

    .image-box img {
    max-width: 90vw;
    max-height: 500px;
    }

    .subtitle-box {
    font-size: 24pt;
    font-weight: lighter;
    letter-spacing: -1pt;
    line-height: 24pt;
    margin: 0px;
    color: #0063C6;
    text-align: center;
    width: 100%;
    padding: 20px;
    }

    .image-box {
    width: auto;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .box img {
    max-height: 50vh;
    max-width: 90vw;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 1/2;

    }

    .box {
    width: auto;
    height: auto;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: grab;
}

    h2 {
    font-size:21pt;
    font-weight: lighter;
    margin: 0px;
    letter-spacing: -0.5pt;
    text-align: left;
    line-height: 21pt;
    margin-bottom: 10px;
    }

    .text-box {
    width: 95vw;
    height: auto;
    display: grid;

    cursor: grab;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-box-content {
    grid-row-start: 1;
    grid-column-start: 1;
    display: block;
    z-index: 0;
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid;
    border-radius: 60px;
    overflow: scroll;
    padding: 30px;
    cursor: auto;
    width:100%;
}
p{  font-size: 14pt;
    line-height: 17pt;

}



/* Styling object pop-ups */
.pop-up {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    cursor: auto;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;

}

.pop-up-wrapper {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    background: black;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow-y: scroll;
}


.pop-up-box {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 30px;
    padding-bottom: 20vh;
}

.pop-up-header {
    height: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-row: 1 / 2;
    grid-column: 1 /2;
    justify-items: end;
}

.pop-up-header span {
    width: 100%;
    align-self: flex-start;
    padding-right: 30px;

    font-size: 28pt;
    font-weight: lighter;
    margin: 0px;
    letter-spacing: -1pt;
    text-align: left;
    line-height: 28pt;
    /* margin-bottom: 10px; */

}

.pop-up-header .close-button {
    padding-top: 0px;
    cursor: grab;
}

.pop-up-content {
    grid-row: 2/3;
    grid-column: 1/2;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    overflow: hidden;
}

.pop-up-box .pop-up-video {
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

.pop-up-audio {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 48vh; */
    width: 100%;
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

.pop-up-audio img {
    max-width: unset;
    max-height: unset;
    width: 100%;
    height: auto;
    /* padding-top: 10%; */
    margin-bottom: 10px;
}

.pop-up-audio audio {
    width: 100%;
    height: 30px;
}

.pop-up-info {
    display: block;
    /* grid-template-columns: 2fr 3fr; */
    /* grid-column-gap: 30px; */
    grid-column: 1 /2;
    grid-row: 2 / 3;
    height: inherit;
}

.interview-name {
    /* overflow: scroll; */
    padding-right: 20px;
    margin-bottom: 20px;
}


.pop-up-info div:nth-child(3) {
    padding-right: 10px;
}


.transcript {
    /* width: 100%; */
    height: auto;
    overflow-y: hidden;
    /* display: grid; */
    /* grid-template-rows: auto 1fr; */
    cursor: grab;
    padding-right: 30px;

}

.transcript div:nth-child(2) {
    height: 100%;
    overflow-y: scroll;
    display: none;
}

.transcript div:nth-child(2) span{
    color: #C0C0C0;
}

.transcript-click {
    margin: 0px;
}

.transcript-click p:hover {
    color: #C0C0C0;
}




h1 {
    font-size: 28pt;
    font-weight: lighter;
    letter-spacing: -1pt;
    line-height: 28pt;
    margin: 0px;
    color: inherit;
    z-index: -1;
    text-align: left;
    width: 100%;
}



.scroll-instruct {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 45%;
    z-index: 800;
    color: inherit;
    transform: none;
    animation: none;
}

.scroll-instruct svg {
    border: none;
    display: block;
    border-radius: 0;
    width: 50px;
    stroke: currentColor;
    stroke-width: 3pt;
    fill: currentColor;
    height: 50px;
}

.site-title {
    grid-row: 1/2;
    border-bottom: 2px solid;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-right: 50px;
}

.page-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 21pt;
    line-height: 21pt;
    letter-spacing: -0.5pt;
    cursor: grab;
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

#end-credit {
    width: 100%;
    height: auto;
    border: none;
    padding: 0px;
    border-radius: 0pt;
    padding-bottom: 20vh;
    /* padding-right:5vw; */
    overflow-y: scroll;
}



/* Icon 1 */

#menu {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 10px;
  margin: none;
  z-index: 999;
  cursor: pointer;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

}
#menu span  {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: currentColor;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

}


/* Icon 3 */

#menu span:nth-child(1) {
  top: 0px;
}

#menu span:nth-child(2), #menu span:nth-child(3) {
  top: 10px;
}

#menu span:nth-child(4) {
  top: 20px;
}


#menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.scroll-down {
    display: none;
    visibility: hidden;
}


}
