
* {
  box-sizing: border-box;

}

body {font-family:  Helvetica, sans-serif;
      font-weight: lighter;
      background: black;
      color: #C0C0C0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: fixed;
      margin:0px;

      /* padding: 5px; */
}
body div::-webkit-scrollbar {
     display: none;
}

body div{
-ms-overflow-style: none;

}



/* Typography*/
h1 { font-size: 50pt;
    font-weight: lighter;
    letter-spacing: -3.5pt;
    line-height: 50pt;
    margin: 0px;
    color: inherit;
    z-index: -1;
    text-align: center;
    width: 100%;

}

h2 { font-size: 21pt;
     font-weight: lighter;
     margin:0px;
     letter-spacing: -0.8pt;
     text-align: left;
     line-height: 21pt;
     margin-bottom:10px;

}

p {  margin:0px;
    line-height: 15pt;
}
hr { margin-top: 30px;
    margin-bottom: 30px;

    border: 1px solid black;

}
/* Wrapper */

.wrapper { display: grid;
           grid-template-columns:180px 1fr;

}

/* Page Colors */
#page-1 {color: #FF7600;}
#page-2 {color: #816BC9;}
#page-3 {color: #0063C6;}
#page-4 {color: #FABF02;}
#page-5 {color: #02876A;}
#page-6 {color: #0063C6;}
#page-7 {color: #FF7600;}
#page-8 {color: #816BC9;}
#page-9 {color: #0063C6;}
#page-10 {color: #816BC9;}


/* Header */
.site-title {

    width: 100%;
    z-index: -999;
    color: inherit;
    grid-column:2/3;
    grid-row: 1/2;
    padding: 10px;
}

.page-name:after {
    content: attr(data-curr);
    color:inherit;
}

.site-title:hover .page-name:after {
    content: "Face Facts!";
    color: #C0C0C0;
}



/* Navigation */

.nav-wrapper {
    width: auto;
    height: 100vh;
    display: grid;
    grid-column: 1/2;
    background: black;
    border-right: 2px solid;
    border-color: inherit;
}



.nav-wrapper-start {
    /* width: auto;
    height: 100vh;
    display: flex;
    grid-column: 1/2; */
    background-image: linear-gradient(to bottom, black 90%, currentColor 110%);
}

.nav-wrapper-end {
    /* width: auto;
    height: 100vh;
    display: flex;
    grid-column: 1/2; */
    background-image: linear-gradient(to top, black 90%, currentColor 110%);
}


.scroll-down { width:  100%;
               padding: 10px;
               text-align: center;
               grid-column: 1/2;
               grid-row: 1/2;
}

.scroll-down svg {
    height: 25px;
    fill: currentColor;

}

.nav {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    z-index: 999;
    -ms-overflow-style: none;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 55px;
    padding-bottom: 45px;
}



.nav a:-webkit-any-link {   color: inherit;
cursor: pointer;
text-decoration: none;
width: 100%;

}

.nav a:-webkit-any-link:hover {   color: inherit;
cursor: pointer;
text-decoration:none;
width: 100%;

}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
}
a:-webkit-any-link:hover {
    color: #C0C0C0;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
}



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes rotate-slow {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(10deg);
	}
}



.scroll-instruct {
display: flex;
align-self: flex-end;
justify-content:center;
font-size: 24pt;
letter-spacing: -0.75pt;
z-index: 999;
grid-column: 2/3;
grid-row: 1/2;
color: inherit;

transform: translatey(0px);
animation: float 2s ease-in-out infinite;

}


.scroll-instruct svg {
    border: none;
    display: block;
    border-radius: 0;
    width: 100px;
    stroke-width: 0;
    fill: currentColor;
}

.scroll-instruct svg:hover {
    background-color:  transparent;
}

.page-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 14pt;
    letter-spacing: -0.3pt;
    cursor: grab;
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.page-links:hover {
    color: #C0C0C0;

}

.current { color: #C0C0C0;
}

#end-credit {
    width: 60vw;
    height: auto;

}


/* Navigation Toggle Buttons */

.site-buttons  {
                display: none;
                position: absolute;
                bottom: 10px;
                left:10px;
                grid-column: 1/2;
                grid-row: 1/2;
}

.menu-button { width: 100px;
               z-index: 999;
               display: block;
}

.site-buttons div svg {width: 100px;
                       border:none;
}

.site-buttons div svg:hover {width: 100px;
}


.exit-button { width: 100px;
               z-index: 999;
               display: none;
}


/* Active Pages */
/* #link_1:hover {color: #FF7600; border-color: #FF7600;}
#link_2:hover {color: #816BC9; border-color: #816BC9;}
#link_3:hover {color: #0063C6; border-color: #0063C6;}
#link_4:hover {color: #FABF02; border-color: #FABF02;}
#link_5:hover {color: #02876A; border-color: #02876A;}
#link_6:hover {color: #0063C6; border-color: #0063C6;}
#link_7:hover {color: #FF7600; border-color: #FF7600;}
#link_8:hover {color: #816BC9; border-color: #816BC9;}
#link_9:hover {color: #0063C6; border-color: #0063C6;}
#link_10:hover {color: #FABF02; border-color:#FABF02;} */


/* Content block*/
.content {
    display: flex;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12vh;
    padding-bottom: 12vh;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;

}
/*
.content .text-box:last-child {
    padding-right: 100px;
}

.content .box:last-child {
    padding-right: 100px;
} */

#intro-content {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* #intro-content-image {
    height: 100%;
} */

/* Image box */
.image-box {
    width: auto;
    margin: 50px;
}
.image-box img {
    max-width: 500px;
    max-height:500px;
}

.subtitle-box {
        font-size: 50pt;
        font-weight: lighter;
        letter-spacing: -3.5pt;
        line-height: 50pt;
        margin: 0px;
        color: #0063C6 ;
        text-align: center;
        width: 100%;
        padding: 80px;

}

/* Individual object boxes */
.box{
  width: auto;
  height: auto;
  display: grid;
  margin: 50px;
  cursor: grab;


}
.box-overlay {
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  width:100%;
  height:100%;
  z-index: 0;
}

.box-overlay span{
  text-align:center;
  visibility: hidden;
  font-size: 36px;
  letter-spacing: -1pt;
  /* padding: 20px; */
  grid-row: 1/2;
  grid-column: 1/2;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;


}


.box:hover .box-overlay span{
    visibility: visible;
}

.box-overlay img {
    max-height:350px;
    max-width: 400px;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

.box-overlay:hover img{
    opacity: 0.1;
}


/* Styling text boxes */
.text-box{
  width: auto;
  height: auto;
  display: grid;
  margin: 50px;
  cursor: grab;

}

.text-box-content {
    grid-row-start: 1;
    grid-column-start: 1;
    display: block;
    width: 450px;
    height: 500px;
    z-index: 0;
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid;
    border-radius: 60px;
    overflow: scroll;
    padding: 40px;
    cursor: auto;

}

.text-box-content span {
    display: block;
    text-align: left;
    font-size: 30px;
    letter-spacing: -1pt;
}

.text-box-content-2 {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 500px;
    height: 500px;
    z-index: 0;
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid;
    border-radius:500px;
    overflow: scroll;
    padding: 30px;
    color: #0063C6;


}

.text-box-content-2 {
    display: flex;
    font-size: 30px;
    letter-spacing: -1pt;
    text-align: center;
    align-items: center;

}


/* Styling object pop-ups */
.pop-up {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    cursor: auto;
    /* visibility: hidden; */

}

.pop-up-wrapper {
    width: 70vw;
    height: 90vh;
    border: 2px solid;
    border-radius: 60px;
    background: black;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow-y: scroll;
}

.pop-up-box {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 30px;
}

.pop-up-header {
    height: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-row: 1 / 2;
    grid-column: 1 /2;
    justify-items: end;
}

.pop-up-header span {
    width: 100%;
    font-size: 30pt;
    font-weight: lighter;
    letter-spacing: -1.5pt;
    align-self: flex-start;
    padding-right: 30px;
    line-height: 30pt;

}

.pop-up-header .close-button {
    padding-top: 5px;
    cursor: grab;
}

.pop-up-content {
    grid-row: 2/3;
    grid-column: 1/2;
    height: auto;
    display: grid;
    grid-template-rows: 3fr 20vh;
    grid-row-gap: 30px;
    overflow: hidden;
}

.pop-up-box .pop-up-video {
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

.pop-up-audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48vh;
    width: 100%;
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

.pop-up-audio img {
    width: auto;
    height: 90%;
    margin-bottom: 10px;
}

.pop-up-audio audio {
    width: 100%;
    height: 10%;
}

.pop-up-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 30px;
    grid-column: 1 /2;
    grid-row: 2 / 3;
    height: inherit;
}

.interview-name {
    /* overflow: scroll; */
    padding-right: 20px;
    margin-bottom: 20px;
}


.pop-up-info div:nth-child(3) {
    padding-right: 10px;
}


.transcript {
    /* width: 100%; */
    height: auto;
    overflow-y: hidden;
    /* display: grid; */
    /* grid-template-rows: auto 1fr; */
    cursor: grab;
    padding-right: 30px;

}

.transcript div:nth-child(2) {
    height: 100%;
    overflow-y: scroll;
    display: none;
}

.transcript div:nth-child(2) span{
    color: #C0C0C0;
}

.transcript-click {
    margin: 0px;
}

.transcript-click p:hover {
    color: #C0C0C0;
}



/* Styling the close button */
.close-button svg {
  border: 2px solid;
  color: inherit;
  display: block;
  border-radius: 100pt;
  width: 40px;
  stroke-width: 3;
  stroke: currentColor;
}

.close-button svg:hover {
   background-color: rgba(255, 255, 255, 0.25);
}

.logo {
    height: 50px;
    padding-right: 30px;
}

.logo svg{
    height: 100%;
    fill: currentColor;
}

.logo-wrapper {
    width: 100%;
    display: flex;
}

/* Styling the video media */
iframe {
    width: 100%;
    height: 100%;
}



@media only screen and (max-width: 768px) {


    .wrapper {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    .nav-wrapper {
        display: none;
        width: auto;
        height: 100vh;
        grid-column: 1/3;
        grid-row: 1/2;
        z-index: 999;

    }

    .nav {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 100px;

}
    .content {
        padding-top:0px;
        grid-row: 2/3;
        grid-column: 1/3;
        align-items: flex-start;
        overflow: scroll;
        height: 100vh;
        padding-bottom: 20vh;

    }

    .content .box:last-child {
        /* margin-bottom: 200px; */
    }

    .image-box img {
    max-width: 90vw;
    max-height: 500px;
    }

    .subtitle-box {
    font-size: 24pt;
    font-weight: lighter;
    letter-spacing: -1pt;
    line-height: 24pt;
    margin: 0px;
    color: #0063C6;
    text-align: center;
    width: 100%;
    padding: 20px;
    }

    .image-box {
    width: auto;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .box img {
    max-height: 50vh;
    max-width: 90vw;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 1/2;
    }

    .box {
    width: auto;
    height: auto;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: grab;
}

    h2 {font-size: 21pt;
        font-weight: lighter;
        margin: 0px;
        letter-spacing: -0.4pt;
        text-align: left;
        line-height: 21pt;
        margin-bottom: 10px;
    }

    .text-box {
    width: 95vw;
    height: auto;
    display: grid;

    cursor: grab;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-box-content {
    grid-row-start: 1;
    grid-column-start: 1;
    display: block;
    z-index: 0;
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid;
    border-radius: 60px;
    overflow: scroll;
    padding: 30px;
    cursor: auto;
    width:100%;
}
p{  font-size: 14pt;
    line-height: 17pt;

}



/* Styling object pop-ups */
.pop-up {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    cursor: auto;
    /* visibility: hidden; */

}

.pop-up-wrapper {
    width: 100vw;
    height: 100vh;
    border: none;
    border-radius: 0px;
    background: black;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow: scroll;
    /* padding-bottom: 100px; */
}

.pop-up-box {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 30px;
    }

.pop-up-header {
    height: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-row: 1 / 2;
    grid-column: 1 /2;
    justify-items: end;
}

.pop-up-header span {
    width: 100%;
    font-size: 30pt;
    font-weight: lighter;
    letter-spacing: -1.5pt;
    align-self: flex-start;
    padding-right: 30px;
    line-height: 30pt;

}

.pop-up-header .close-button {
    padding-top: 5px;
    cursor: grab;
}

.pop-up-content {
    grid-row: 2/3;
    grid-column: 1/2;
    height: auto;
    display: grid;
    grid-template-rows: auto 50vh;
    grid-row-gap: 30px;
    overflow: hidden;
}

.pop-up-box .pop-up-video {
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

.pop-up-audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48vh;
    width: 100%;
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

.pop-up-audio img {
    width: auto;
    height: 90%;
    margin-bottom: 10px;
}

.pop-up-audio audio {
    width: 100%;
    height: 10%;
}

.pop-up-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 30px;
    grid-column: 1 /2;
    grid-row: 2 / 3;
    height: inherit;
}

.interview-name {
    /* overflow: scroll; */
    padding-right: 20px;
    margin-bottom: 20px;
}


.pop-up-info div:nth-child(3) {
    padding-right: 10px;
}


.transcript {
    /* width: 100%; */
    height: auto;
    overflow-y: hidden;
    /* display: grid; */
    /* grid-template-rows: auto 1fr; */
    cursor: grab;
    padding-right: 30px;

}

.transcript div:nth-child(2) {
    height: 100%;
    overflow-y: scroll;
    display: none;
}

.transcript div:nth-child(2) span{
    color: #C0C0C0;
}

.transcript-click {
    margin: 0px;
}

.transcript-click p:hover {
    color: #C0C0C0;
}


h1 {
    font-size: 24pt;
    font-weight: lighter;
    letter-spacing: -1pt;
    line-height: 24pt;
    margin: 0px;
    color: inherit;
    z-index: -1;
    text-align: left;
    width: 100%;
}

/* Navigation Toggle Buttons */

.site-buttons  {
                display: block;
                position: absolute;
                bottom: 10px;
                left:10px;
                grid-column: 1/2;
                grid-row: 1/2;
                z-index: 999;

}

.menu-button { width: 100px;
               z-index: 999;
               display: block;
}

.site-buttons div svg {width: 100px;
                       border:none;
}

.site-buttons div svg:hover {width: 100px;
}


.exit-button { width: 100px;
               z-index: 999;
               display: none;
}

.scroll-instruct {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 800;
    color: inherit;
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

.scroll-instruct svg {
    border: none;
    display: block;
    border-radius: 0;
    width: 100px;
    stroke-width: 3;
    fill: currentColor;
    height: 100px;
}

.site-title {
    grid-row: 1/2;
    border-bottom: 2px solid;
    grid-column: 1/3;
    grid-row: 1/2;
}

.page-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 24pt;
    line-height: 24pt;
    letter-spacing: -0.3pt;
    cursor: grab;
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

#end-credit {
    width: 95vw;
    height: auto;
    border: none;
    padding: 5px;
    border-radius: 0pt;
    padding-bottom: 100px;
}


}
